
@{
    ViewData["Title"] = "_BookList";
}
<hr />
<h1>_BookList</h1>
<ul>
    <li> American Prometheus</li>
    <li> Wasted in Engineering</li>
    <li> It Happens for a Reason</li>
    <li> The one Minute Manager</li>
</ul>

