@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form method="post">


     <div>
         <label for=" txtName">Name:</label>
         <input id="txtPassword" type = "text" />
     </div>
     <div>
         <label for=" txtName">Password:</label>
         <input id="txtPassword" placeholder="Enter Password" required type ="Password"/>
     </div>
     <div>
     <input type="submit" value="ok"/>
     </div>
     </form> 