<div class="text-center"><h1 class="display-4>Welcome</h1>"</div>
<div class="jumbotron">
    <div> INR:&#8377</div>
    <a asp-action="Echo" asp-route-name="Aravind" asp-route-City="Chennai"> Call Echo</a> |
    <a asp-action="SayHello" asp-route-name="Aravind">Call SayHello</a>
</div>
